<font color=red>EXERCISE</font>

In [1]:
import pandas as pd
titanic=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv')
titanic=titanic.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1)
titanic.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [2]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
titanic.Sex=le.fit_transform(titanic.Sex)
titanic.head(3)
titanic.Age = titanic.Age.fillna(titanic.Age.mean())
titanic.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [3]:
x=titanic.drop('Survived',axis=1)
y=titanic.Survived
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,shuffle=True)
len(y_test)

179

In [6]:
from sklearn.tree import DecisionTreeClassifier
tr=DecisionTreeClassifier()
tr.fit(x_train,y_train)
tr.score(x_test,y_test)

0.7262569832402235

In [5]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()
reg.fit(x_train,y_train)
reg.score(x_test,y_test)

0.8100558659217877

In [ ]:
import seaborn as sns
sns.pairplot(titanic)